* {
	 LIST-STYLE-TYPE: none; 
}

#userauth{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #FF5F09;
	border-color: #FF5F09;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);
	
	border: 1px solid;
	padding: 8px 12px;
	
	color: #fff;
	font-family: "Myriad Pro", Arial, Tahoma, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	text-shadow: -1px -1px rgba(0,0,0,0.1), 0 0 15px rgba(255,255,255,0.75);
	white-space: nowrap;
	
	text-decoration: none;
	font-style: normal;
	text-transform: none;
	
	position: relative;
	
	text-align: center;

	height:40px;
	position:fixed; bottom:15px; left:5%; right:5%; width:90%;
	
	
}

.top_left{float: left; width:10%;}
.top_center{text-align:center;margin:0px auto;float:left; width:80%;}
#appName{
	text-align:center;
	font-weight:bold;
	font-size:25px;
}
.top_right{float: right; width:10%;}

#cancel{
	 background:url(../resource/orange/images/un/turnback.jpg) no-repeat;
 width:100px;
 height:50px;
 border:0px;
 cursor:pointer;
}

#systemName{
	height:35px;
}
.headerStyle {
	MARGIN: 0px auto;  HEIGHT: 60px
}
#header{
  padding:2px 0 0 0;
  }
