
.data-format {
	font-weight: bold;
}
.img-wrap {
	text-align: center; margin-top: 10px; margin-bottom: 12px; max-width: 795px; _position: relative;
}

.syntaxhighlighter {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important;
}
.syntaxhighlighter div {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important;
}
.syntaxhighlighter code {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important;
}
.syntaxhighlighter table {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important;
}
.syntaxhighlighter table td {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important;
}
.syntaxhighlighter table tr {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important;
}
.syntaxhighlighter table tbody {
	margin: 0px !important; padding: 0px !important; outline: 0px !important; border: 0px currentColor !important; left: auto !important; top: auto !important; width: auto !important; height: auto !important; text-align: left !important; right: auto !important; bottom: auto !important; line-height: 1.1em !important; font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important; font-size: 1em !important; font-style: normal !important; font-weight: normal !important; vertical-align: baseline !important; float: none !important; position: static !important; min-height: auto !important;
}
.syntaxhighlighter {
	margin: 1em 0px !important; padding: 1px !important; width: 99% !important; position: relative !important;
}
.syntaxhighlighter .bold {
	font-weight: bold !important;
}
.syntaxhighlighter .italic {
	font-style: italic !important;
}
.syntaxhighlighter .no-wrap .line .content {
	white-space: pre !important;
}
.syntaxhighlighter .line table {
	border-collapse: collapse !important;
}
.syntaxhighlighter .line td {
	vertical-align: top !important;
}
.syntaxhighlighter .line .number {
	width: 3em !important;
}
.syntaxhighlighter .line .number code {
	width: 2.7em !important; text-align: right !important; padding-right: 0.3em !important; display: block !important;
}
.syntaxhighlighter .line .content {
	padding-left: 0.5em !important;
}
.nogutter.syntaxhighlighter .line .content {
	border-left-color: currentColor !important; border-left-width: medium !important; border-left-style: none !important;
}
.syntaxhighlighter .bar {
	display: none !important;
}
.syntaxhighlighter .show.bar {
	display: block !important;
}
.collapsed.syntaxhighlighter .bar {
	display: block !important;
}
.collapsed.syntaxhighlighter .lines {
	display: none !important;
}
.syntaxhighlighter .no-wrap.lines {
	overflow: auto !important; overflow-y: hidden !important;
}
.syntaxhighlighter .toolbar {
	padding: 8px 8px 8px 0px !important; top: 0px !important; right: 0px !important; font-size: 1px !important; position: absolute !important;
}
.collapsed.syntaxhighlighter .toolbar {
	padding: 0.2em 0px 0.5em 0.5em !important; font-size: 80% !important; position: static !important;
}
.syntaxhighlighter .toolbar a.item {
	text-indent: -5000px !important; overflow: hidden !important; margin-left: 8px !important; float: left !important; display: block !important; background-repeat: no-repeat !important;
}
.syntaxhighlighter .toolbar .item {
	text-indent: -5000px !important; overflow: hidden !important; margin-left: 8px !important; float: left !important; display: block !important; background-repeat: no-repeat !important;
}
.collapsed.syntaxhighlighter .toolbar .item {
	display: none !important;
}
.collapsed.syntaxhighlighter .toolbar .expandSource.item {
	width: auto !important; height: 16px !important; text-indent: 0px !important; padding-left: 20px !important; float: none !important; display: inline !important; background-image: url("http://img01.taobaocdn.com/tps/i1/T1dK0zXaprXXXXXXXX-16-16.png") !important;
}
.syntaxhighlighter .toolbar .viewSource.item {
	background-image: url("../images/example-16-16.png") !important;
}
.syntaxhighlighter .toolbar .printSource.item {
	background-image: url("../images/print-16-16.png") !important;
}
.syntaxhighlighter .toolbar .copyToClipboard.item {
	text-indent: 0px !important; overflow: visible !important;
}
.syntaxhighlighter .toolbar .about.item {
	background-image: url("../images/help-16-16.png") !important;
}
.printing.syntaxhighlighter .line .number {
	color: rgb(187, 187, 187) !important;
}
.printing.syntaxhighlighter .line .content {
	color: rgb(0, 0, 0) !important;
}
.printing.syntaxhighlighter .toolbar {
	display: none !important;
}
.printing.syntaxhighlighter a {
	text-decoration: none !important;
}
.printing.syntaxhighlighter .plain {
	color: rgb(0, 0, 0) !important;
}
.printing.syntaxhighlighter .plain a {
	color: rgb(0, 0, 0) !important;
}
.printing.syntaxhighlighter .comments {
	color: rgb(0, 130, 0) !important;
}
.printing.syntaxhighlighter .comments a {
	color: rgb(0, 130, 0) !important;
}
.printing.syntaxhighlighter .string {
	color: blue !important;
}
.printing.syntaxhighlighter .string a {
	color: blue !important;
}
.printing.syntaxhighlighter .keyword {
	color: rgb(0, 102, 153) !important; font-weight: bold !important;
}
.printing.syntaxhighlighter .preprocessor {
	color: gray !important;
}
.printing.syntaxhighlighter .variable {
	color: rgb(170, 119, 0) !important;
}
.printing.syntaxhighlighter .value {
	color: rgb(0, 153, 0) !important;
}
.printing.syntaxhighlighter .functions {
	color: rgb(255, 20, 147) !important;
}
.printing.syntaxhighlighter .constants {
	color: rgb(0, 102, 204) !important;
}
.printing.syntaxhighlighter .script {
	font-weight: bold !important;
}
.printing.syntaxhighlighter .color1 {
	color: rgb(128, 128, 128) !important;
}
.printing.syntaxhighlighter .color1 a {
	color: rgb(128, 128, 128) !important;
}
.printing.syntaxhighlighter .color2 {
	color: rgb(255, 20, 147) !important;
}
.printing.syntaxhighlighter .color2 a {
	color: rgb(255, 20, 147) !important;
}
.printing.syntaxhighlighter .color3 {
	color: red !important;
}
.printing.syntaxhighlighter .color3 a {
	color: red !important;
}
.syntaxhighlighter {
	background-color: rgb(242, 242, 242) !important;
}
.syntaxhighlighter .highlighted.line .number {
	background-color: rgb(195, 222, 254) !important;
}
.syntaxhighlighter .alt1.highlighted.line {
	background-color: rgb(195, 222, 254) !important;
}
.syntaxhighlighter .alt2.highlighted.line {
	background-color: rgb(195, 222, 254) !important;
}
.syntaxhighlighter .line .number {
	color: rgb(120, 120, 120) !important; background-color: rgb(255, 255, 255) !important;
}
.syntaxhighlighter .line .content {
	color: rgb(0, 0, 0) !important; border-left-color: rgb(212, 208, 200) !important; border-left-width: 1px !important; border-left-style: solid !important;
}
.printing.syntaxhighlighter .line .content {
	border: 0px currentColor !important;
}
.syntaxhighlighter .alt1.line {
	background-color: rgb(250, 250, 250) !important;
}
.syntaxhighlighter .alt2.line {
	background-color: rgb(255, 255, 255) !important;
}
.syntaxhighlighter .toolbar {
	border: 1px solid rgb(231, 229, 220) !important; background-color: rgb(248, 248, 248) !important;
}
.syntaxhighlighter .toolbar a {
	color: rgb(160, 160, 160) !important;
}
.syntaxhighlighter .toolbar a:hover {
	color: red !important;
}
.syntaxhighlighter .plain {
	color: rgb(0, 0, 0) !important;
}
.syntaxhighlighter .plain a {
	color: rgb(0, 0, 0) !important;
}
.syntaxhighlighter .comments {
	color: rgb(63, 95, 191) !important;
}
.syntaxhighlighter .comments a {
	color: rgb(63, 95, 191) !important;
}
.syntaxhighlighter .string {
	color: rgb(42, 0, 255) !important;
}
.syntaxhighlighter .string a {
	color: rgb(42, 0, 255) !important;
}
.syntaxhighlighter .keyword {
	color: rgb(127, 0, 85) !important; font-weight: bold !important;
}
.syntaxhighlighter .preprocessor {
	color: rgb(100, 100, 100) !important;
}
.syntaxhighlighter .variable {
	color: rgb(170, 119, 0) !important;
}
.syntaxhighlighter .value {
	color: rgb(0, 153, 0) !important;
}
.syntaxhighlighter .functions {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter .constants {
	color: rgb(0, 102, 204) !important;
}
.syntaxhighlighter .script {
	background-color: yellow !important;
}
.syntaxhighlighter .color1 {
	color: rgb(128, 128, 128) !important;
}
.syntaxhighlighter .color1 a {
	color: rgb(128, 128, 128) !important;
}
.syntaxhighlighter .color2 {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter .color2 a {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter .color3 {
	color: red !important;
}
.syntaxhighlighter .color3 a {
	color: red !important;
}
.xml .keyword {
	color: rgb(249, 61, 36) !important; font-weight: normal !important;
}
.xml .color1 {
	color: rgb(127, 0, 127) !important;
}
.xml .color1 a {
	color: rgb(127, 0, 127) !important;
}
.xml .string {
	color: rgb(42, 0, 255) !important; font-style: italic !important;
}
